<h1 class="main-content__page-title">Create Sentiment</h1>
<%= form_with url: admin_tools_sentiments_path, local: true do |f| %>
  <%= f.label :submission_id %>
  <%= f.select(:submission_id, @submissions, { include_blank: 'Select submission' }) %>
  <%= f.submit "Create" %>
<% end %>
