<h1>Organization Name Redacted</h1>
<p>When trying to find the organziation for <%= @submission.url %> we found that the organization was redacted</p>
<p>You'll need to add this manually</p>

Do the needful
