<footer class="footer container-fluid">
  <ul class="list-inline">
    <li class="list-inline-item">
      Copyright <span class="copyleft">&copy;</span> <%= Time.current.year %> Corporate Response
    </li>
    <li class="list-inline-item">
      <a href="https://github.com/evan-duncan/corporate-response">Source</a>
    </li>
  </ul>
</footer>